DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tournois?sslmode=disable
MIGRATION_DIR=./shared/sql/migration

MAX_ENTRIES_PER_DAY=2
TOURNAMENT_REGISTRATION_CUTOFF=2025-01-00T00:00:00
TOURNAMENT_REGISTRATION_START=2024-01-01T00:00:00

USKB_EMAIL=uskb@example.com
USKB_PHONE=+33600000000
USKB_WEBSITE=https://uskb.example.com
