{% extends 'base_admin.html' %}

{% block title %}Gestion de l'inscrit {{ licence_no }} {% endblock %}

{% block content %}
<div id="player_info_div">
    <table id="player_info_table"></table>
    <table id="payment_info_table">
        <tr>
            <th>Coût total des tableaux inscrits</th>
            <td id="register_total">0</td>
        </tr>
        <tr>
            <th>Coût total des tableaux présents</th>
            <td id="present_total">0</td>
        </tr>
        <tr>
            <th>Coût total des tableaux payés</th>
            <td id="paid_total">0</td>
        </tr>
        <tr>
            <th>Montant déjà payé</th>
            <td id="previous_actual_total">0</td>
        </tr>
        <tr>
            <th>Montant payé cette fois-ci</fois-ci></th>
            <td id="current_actual_total">
                <input type="number" id="actual_total_field"/>
            </td>
    </table>
    <button id="delete_player_button" onclick="deletePlayer()"></button>
</div>

<div id="admin_entry_management">
    <table id="saturday_table">
        <thead>
            <tr>
                <th colspan="7">Samedi</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Nombre d'inscrits</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
                <th>Présent ?</th>
                <th>Payé ?</th>
            </tr>
        </thead>
        <tbody id="saturday_table_body"></tbody>
    </table>
    <table id="sunday_table">
        <thead>
            <tr>
                <th colspan="7">Dimanche</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Nombre d'inscrits</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
                <th>Présent ?</th>
                <th>Payé ?</th>
            </tr>
        </thead>
        <tbody id="sunday_table_body"></tbody>
    </table>
    <button id="submit_changes_button" onclick="submitChanges()">Enregistrer les modifications</button>
</div>

<script>const licence_no={{ licence_no }}</script>
<script src="{{ url_for('static', filename='admin_player_management_during_tournament.js') }}">
</script>
{% endblock %}
