{% extends 'base_admin.html' %}

{% block title %}Inscrits par Tableaux{% endblock %}

{% block navbar %}
<nav>
    <ul class="navbar" id="categories_navbar">
        <li class="navbar-element">
            <h4 class="navbar-element">Tableaux :</h4>
        </li>
        <li class="navbar-element">
            <span id="show_span_all" class="navbar-link show_table_span navbar-link-current" onclick="showTables()">Tous</span>
        </li>
    </ul>
    <div class="navbar">
        <input type="search" id="players_by_category_search" class="players_table_search" placeholder="Recherche" autofocus oninput="filterData()">
        <button id="export_all_button" onclick="downloadAll()">Télécharger tous les tableaux en csv</button>
    </div>
</nav>
{% endblock %}

{% block content %}
<p id="no_results_p" style="display: none;">Aucun résultat ne correspond à votre recherche.</p>
<div id="players_by_category_div">
</div>
{% endblock %}

{% block scripts %}
<script>const hasRegistrationEnded = {{ has_registration_ended|lower }};</script>
<script src="{{ url_for('static', filename='jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin_players_by_category.js') }}"></script>
{% endblock %}
