<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}- Tournoi USKB</title>
    <link rel="icon" href="{{ url_for('static', filename='uskb.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
{% block head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="bg-blue-950">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <!-- Brand -->
                <div class="flex-shrink-0">
                    <a href="{{ url_for('public.index_page') }}" class="text-white text-2xl font-bold">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tournoi USKB 2024</span>
                    </a>
                </div>
                <!-- Navbar links -->
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="{{ url_for('public.index_page') }}" class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Accueil</a>
                        <a href="{{ url_for('public.ruleset_page') }}" class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Règlement</a>
                        <a href="{{ url_for('public.contact_page') }}" class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Contact</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu toggle -->
        <div class="md:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a href="{{ url_for('public.index_page') }}" class="text-white hover:bg-blue-800 block px-3 py-2 rounded-md text-base font-medium">Accueil</a>
                <a href="{{ url_for('public.ruleset_page') }}" class="text-white hover:bg-blue-800 block px-3 py-2 rounded-md text-base font-medium">Règlement</a>
                <a href="{{ url_for('public.contact_page') }}" class="text-white hover:bg-blue-800 block px-3 py-2 rounded-md text-base font-medium">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Page content -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {% block content %}{% endblock %}
    </div>

 <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
