{% extends 'base_public.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<label>Entrez votre numéro de licence :
    <input type="number" id="licence-no-field" autofocus>
    <button id="search-licence-no" onclick="findPlayer()">Recherche</button>
</label>

<img id="categories-recap" src="{{ url_for('static', filename='categories_recap.jpg') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='public_index.js') }}"></script>
<script>showContent();</script>
{% endblock %}
