{% extends 'base_public.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<table id="player-info-table">
    <tr>
        <th>N° licence</th>
        <td id="licence-no-cell"></td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td id="first-name-cell"></td>
    </tr>
    <tr>
        <th>Nom de famille</th>
        <td id="last-name-cell"></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td id="gender-cell"></td>
    </tr>
    <tr>
        <th>Club</th>
        <td id="club-cell"></td>
    </tr>
    <tr>
        <th>Classement</th>
        <td id="points-cell"></td>
    </tr>
    <tr>
        <th>Addresse courriel</th>
        <td id="email-cell"></td>
    </tr>
    <tr>
        <th>Numéro de téléphone</th>
        <td id="phone-cell"></td>
    </tr>
</table>

<div id="admin-entry-management">
    <table id="saturday-table">
        <thead>
            <tr>
                <th colspan="5">Samedi</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Liste d'attente ?</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
            </tr>
        </thead>
        <tbody id="saturday-table-body"></tbody>
    </table>
    <table id="sunday-table">
        <thead>
            <tr>
                <th colspan="5">Dimanche</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Liste d'attente ?</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
            </tr>
        </thead>
        <tbody id="sunday-table-body"></tbody>
    </table>
</div>

<!--
<div id="recap-entries-div" class="recap-notification">
    <p id="recap-message">test</p>
    <ul id="recap-list"></ul>
    <button id="close-recap-button" onclick="closeRecap()">Fermer</button>
</div>
-->

<button id="submit-button" onclick="submitAll()" disabled title="Vous devez vous inscrire à au moins un tableau." style="cursor: disabled;">S'inscrire</button>
{% endblock %}

{% block scripts %}
<script>const licenceNo={{ licence_no }}</script>
<script>const maxEntriesPerDay={{ max_entries_per_day }}</script>
<script src="{{ url_for('static', filename='public_player.js') }}"></script>
{% endblock %}
