{% extends 'base_public.html' %}

{% block title %}Clotûre{% endblock %}

{% block content %}
  <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
    <p class="text-lg mb-4">Les inscriptions en ligne sont closes pour ce tournoi.</p>
    <p class="mb-4">Veuillez contacter les organisateurs :</p>
    <a href="{{ url_for('public.contact_page') }}"
       class="text-blue-500 hover:underline font-bold">Contact</a>
  </div>

{% endblock %}

{% block scripts %}
  <script>showContent();</script>
{% endblock %}
