{% extends 'base_public.html' %}

{% block title %}Déja inscrit{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="already_registered_div">
    <p>Vous êtes inscrit(e) aux tableaux suivants :</p>
    <ul id="already_registered_list"></ul>
    <p>Si vous souhaitez modifier vos informations ou vos incriptions, veuillez envoyer un mail aux organisateurs : </p>
    <p><a href="/public/contact">Contact</a></p>
</div>
{% endblock %}

{% block scripts %}
<script>const licenceNo={{ licence_no }}</script>
<script src="{{ url_for('static', filename='public_already_registered.js') }}"></script>
{% endblock %}
