body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

h1 {
color: blue;
font-size: 60px;
text-align: center;
border: 1px solid grey;
}

.players-table {
  width: 100%;
}

.disabled-cell {
  background-color: #d3d3d3;
}

#players-table-div {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#players-by-category-div {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.players-table-row:nth-child(even) {
  background-color: #cee1ff;
}

.players-table-row:hover {
  background-color: #D6EEEE;
}

.players-table-separator {
  background-color: #1a4268;
  color: white;
}

.players-table-search {
  padding: 5px;
  margin: 10px;
  margin-left: 20px;
}

table, th, td {
border: 1px solid grey;
border-collapse: collapse;
text-align: center;
font-family: Tahoma,Verdana,Segoe,sans-serif;
padding-top: 3px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
}

.navbar-container {
  background-color: white;
  margin-left: -8px;
  margin-top: -8px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-right: -8px;
  padding-right: 0px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar {
  margin: 0px;
  padding: 5px;
  padding-left: 10px;
  background-color: #e2e2e2;
}

.navbar-element {
  border-radius: 3px;
  display: inline;
  cursor: pointer;
}

.navbar-link:hover {
  background-color: #d6d6d6;
}

.navbar-element:active {
  background-color: #c9c9c9;
}

.navbar-link {
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(0, 38, 255);
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  cursor: pointer;
}

.navbar-link-current {
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  background-color: rgb(0, 38, 255);
  cursor: pointer;
  box-shadow: 1px 1px 1px #cacaca;
}

.navbar-link-current:hover {
  background-color: rgb(0, 38, 255);
}

.link-button {
  background-color: #e2e2e2;
  cursor: pointer;
}

thead {
  background-color: rgb(65, 64, 64);
  color: white;
}

#delete-player-button {
  background-color: red;
  font-size: large;
}

#player-info-table, #categories-table {
  margin: auto;
}

#reset-all-bibs-button, #set-all-bibs-button {
  margin: auto;
}

.recap-notification {
  position: fixed;
  bottom: 10px;
  left: 30px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.category-table-div {
  margin: auto;
  padding: 5px;
  scroll-margin-top: 120px;
}

#content-div {
  padding-top: 10px;
}
