h1 {
color: blue;
font-size: 60px;
text-align: center;
border: 1px solid grey;
font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.players_table_row:nth-child(even) {
  background-color: #cee1ff;
}

.players_table_row:hover {
  background-color: #D6EEEE;
}

.players_table_separator {
  background-color: #1a4268;
  color: white;
}

.players_table_search {
  padding: 5px;
  margin: 10px;
  margin-left: 20px;
}

table, th, td {
border: 1px solid grey;
border-collapse: collapse;
text-align: center;
font-family: Tahoma,Verdana,Segoe,sans-serif;
padding-top: 3px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
}

.navbar-container {
  background-color: white;
  margin-left: -8px;
  margin-top: -8px;
  padding-left: 0px;
  padding-bottom: 0px;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar {
  margin: 0px;
  padding: 5px;
  padding-left: 10px;
  background-color: #e2e2e2;
}

.navbar-element {
  display: inline;
}

.navbar-element:hover {
  background-color: #d6d6d6;
}

.navbar-element:active {
  background-color: #c9c9c9;
}

.navbar-link {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(0, 38, 255);
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.navbar-link-current {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  background-color: rgb(0, 38, 255);
}

thead {
  background-color: rgb(65, 64, 64);
  color: white;
}

#delete_player_button {
  background-color: red;
  font-size: large;
}

#player_info_table, #categories_table {
  margin: auto;
}

#reset_all_bibs_button, #set_all_bibs_button {
  margin: auto;
}

#players_table_div {
  margin: auto;
  padding: 5px;
}

.recap_notification {
  position: fixed;
  bottom: 10px;
  left: 30px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.category_table_div {
  margin: auto;
  padding: 5px;
  scroll-margin-top: 120px;
}
