<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tournoi USKB - {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='uskb.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="public_navbar-div" class="navbar-container">
        <nav>
            <ul class="navbar">
                <li class="navbar-element">
                    <a class="navbar-link" href="{{ url_for('public.index_page') }}">Accueil</a>
                </li>
                <li class="navbar-element">
                    <a class="navbar-link" href="{{ url_for('public.contact_page') }}">Contact</a>
                </li>
            </ul>
        </nav>
        {% block navbar %}{% endblock %}
    </div>
    <div id="content_div" style="display: none;">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
