{% extends 'base_admin.html' %}

{% block title %}Gestion de l'inscrit {{ licence_no }} {% endblock %}

{% block content %}
<div id="player-info-div">
    <table id="player-info-table"></table>
    <table id="payment-info-table">
        <tr>
            <th>Coût total des tableaux inscrits</th>
            <td id="register-total">0</td>
        </tr>
        <tr>
            <th>Coût total des tableaux présents</th>
            <td id="present-total">0</td>
        </tr>
        <tr>
            <th>Coût total des tableaux payés</th>
            <td id="paid-total">0</td>
        </tr>
        <tr>
            <th>Montant total reste à payer</th>
            <td id="due-total">0</td>
        <tr>
            <th>Montant déjà payé</th>
            <td id="previous-actual-total">0</td>
        </tr>
        <tr>
            <th>Montant payé cette fois-ci</fois-ci></th>
            <td id="current-actual-total">
                <input type="number" id="actual-total-field"/>
            </td>
        </tr>
    </table>
    <button id="delete-player-button" onclick="deletePlayer()"></button>
</div>

<div id="admin-entry-management">
    <table id="saturday-table">
        <thead>
            <tr>
                <th colspan="9">Samedi</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Rang ou #inscrits</th>
                <th>Max (surbook)</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
                <th>Présent ?</th>
                <th>Absent ?</th>
                <th>Payé ?</th>
            </tr>
        </thead>
        <tbody id="saturday-table-body"></tbody>
    </table>
    <table id="sunday-table">
        <thead>
            <tr>
                <th colspan="9">Dimanche</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Rang ou #inscrits</th>
                <th>Max (surbook)</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
                <th>Présent ?</th>
                <th>Absent ?</th>
                <th>Payé ?</th>
            </tr>
        </thead>
        <tbody id="sunday-table-body"></tbody>
    </table>
    <button id="submit-changes-button" onclick="submitChanges()">Enregistrer les modifications</button>
</div>
{% endblock %}

{% block scripts %}
<script>const licenceNo={{ licence_no }}</script>
<script>const showBib={{ show_bib|lower }}</script>
<script src="{{ url_for('static', filename='admin_player_management_during_tournament.js') }}">
</script>
{% endblock %}
