{% extends 'base_admin.html' %}

{% block title %}Gestion de l'inscrit {{ licence_no }} {% endblock %}

{% block content %}
<div id="player-info-div">
    <table id="player-info-table"></table>
    <button id="delete-player-button" onclick="deletePlayer()"></button>
</div>

<div id="admin-entry-management">
    <table id="saturday-table">
        <thead>
            <tr>
                <th colspan="6">Samedi</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Rang / max (surbook) (inscrits)</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
                <th>Absent</th>
            </tr>
        </thead>
        <tbody id="saturday-table-body"></tbody>
    </table>
    <table id="sunday-table">
        <thead>
            <tr>
                <th colspan="6">Dimanche</th>
            </tr>
            <tr>
                <th>Tableau</th>
                <th>Rang / max (surbook) (inscrits)</th>
                <th>Limite de points</th>
                <th>Féminin ?</th>
                <th>Inscription</th>
                <th>Absent</th>
            </tr>
        </thead>
        <tbody id="sunday-table-body"></tbody>
    </table>
    <button id="submit-entries-button" onclick="submitAll()">Enregistrer les modifications</button>
</div>
{% endblock %}

{% block scripts %}
<script>const licenceNo={{ licence_no }}</script>
<script src="{{ url_for('static', filename='admin_player_management_pre_tournament.js') }}">
</script>
{% endblock %}
