{% extends 'base_admin.html' %}

{% block title %}Liste des inscrits{% endblock %}

{% block navbar %}
<nav id="after-cutoff-navbar">
    <div class="navbar">
        <button id="csv-export-button" onclick="downloadCsv(false)">Télécharger listes en CSV pour les JA</button>
        <button id="set-all-bibs-button" onclick="setAllBibs()">Générer les n° de dossards</button>
        <button id="reset-all-bibs-button" onclick="resetAllBibs()">&#x26A0; Supprimer les n° de dossards existants &#x26A0;</button>
    </div>
</nav>
<nav>
    <div class="navbar">
        <input type="search" id="players-table-search" class="players-table-search" placeholder="Recherche" autofocus oninput="filterData()">
        <button id="search-fftt-button" onclick="onEnterSearch()" disabled>Trouver la licence sur l'API FFTT</button>
    </div>
</nav>
{% endblock %}

{% block content %}
<div id="players-table-div">
</div>
{% endblock %}

{% block scripts %}
<script>const hasRegistrationEnded={{ has_registration_ended|lower }}</script>
<script src="{{ url_for('static', filename='admin_show_all_players.js') }}">
</script>
{% endblock %}
