{% extends 'base_admin.html' %}

{% block title %}Inscrits par Tableaux{% endblock %}

{% block navbar %}
<nav>
    <div class="navbar">
        <input type="search" id="players-by-category-search" class="players-table-search" placeholder="Recherche" autofocus oninput="filterData()">
        <button id="export-all-button" onclick="downloadCsv(true)">Télécharger tous les tableaux en csv</button>
    </div>
</nav>
{% endblock %}

{% block content %}
  <div class="flex justify-center">
  <div class="flex" id="categories-navbar">
    <button id="show-span-all" class="tab-btn show-table-span active" onclick="showTables()">Tous</button>
  </div>
</div>

<p id="no-results-p" style="display: none;">Aucun résultat ne correspond à votre recherche.</p>
<div id="players-by-category-div">
</div>
{% endblock %}

{% block scripts %}
<script>const hasRegistrationEnded = {{ has_registration_ended|lower }};</script>
<script src="{{ url_for('static', filename='admin_players_by_category.js') }}"></script>
{% endblock %}
