<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Admin - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='uskb.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="admin_navbar-div" class="navbar-container">
        <nav>
            <ul class="navbar">
                <li class="navbar-element">
                    <h3 class="navbar-element">Admin</h3>
                </li>
                <li class="navbar-element">
                    <a class="navbar-link" id="all_players_navbar_link" href="{{ url_for('admin.show_all_players') }}">Inscrits</a>
                </li>
                <li class="navbar-element">
                    <a class="navbar-link" id="set_categories_navbar_link" href="{{ url_for('admin.set_categories') }}">Saisie tableaux</a>
                </li>
                <li class="navbar-element">
                    <a class="navbar-link" id="players_by_categories_navbar_link" href="{{ url_for('admin.players_by_category_page') }}">Inscrits par tableaux</a>
                </li>
            </ul>
        </nav>
        {% block navbar %}{% endblock %}
    </div>
    <div id="content_div" style="display: none;">
    {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
