#countdown-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.3); /* Transparent background */
  backdrop-filter: blur(5px); /* Optional: Apply blur effect to the background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
}
/* Countdown digit styles */
.countdown-digit {
  font-size: 3rem;
  margin: 0 10px;
  color: #0C1932;
}

.countdown-days-digit {
  font-size: 3rem;
  margin: 0 10px;
  color: #0C1932;
}
